extends ../../layouts/main

block content
  h1 Addresses
  p
    a(href="/account") Back to account
  p
    a(href="/account/addresses/new") Add address

  if !addresses || addresses.length === 0
    p You have no saved addresses.
  else
    ul(style="list-style:none; padding:0")
      each addr in addresses
        li(style="border:1px solid #ddd; padding:1rem; margin-bottom:0.5rem")
          if addr.label
            strong= addr.label + " "
          | #{addr.line1}
          if addr.line2
            | , #{addr.line2}
          | , #{addr.city} #{addr.state} #{addr.postcode} #{addr.country}
          if addr.isDefault
            span(style="margin-left:0.5rem; font-size:0.9em") (Default)
          div(style="margin-top:0.5rem")
            a(href="/account/addresses/" + addr.id + "/edit") Edit
            form(action="/account/addresses/" + addr.id + "/delete" method="post" style="display:inline; margin-left:1rem")
              button(type="submit" onclick='return confirm("Remove this address?")') Delete
